configstore/
autostart/
chromium/
dconf/
discord/
gtk-2.0/
gtk-3.0/
htop/
libfm/
mimeapps.list
neofetch/
nitrogen/
pavucontrol.ini
pcmanfm/
pulse/
rofi/
systemd/
terminator/
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/
JetBrains/
QtProject.conf
Microsoft/
teams/
google-chrome/
